@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

p {
    margin: 0;
    color: #fff;
}

html {
    height: 100%;
}

.nav {
    display: none;
}

body {
    height: 100%;
    /*background: url(../img/home/background.jpg) no-repeat fixed;*/
    background-size: 100% 100%;
    font-family: "Roboto";
    background-color: #000;
}

.container {
    height: 100%;
    width: 100%;
}

.block {
    width: 100%;
    height: 100%;
    float: left;
}

/* home */

.home-container {
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;

    display: -moz-flex;
    -moz-flex-direction: center;
    -moz-justify-content: center;

    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-justify-content: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    display: -webkit-flex;
    -webkit-justify-content: center;
    display: -moz-flex;
    -moz-justify-content: center;
    display: -ms-flex;
    -ms-justify-content: center;
    display: flex;
    justify-content: center;

}

.logo img {
    max-width: 100%;
    height: 200px;
}

.title {
    display: -webkit-flex;
    -webkit-justify-content: center;
    display: -moz-flex;
    -moz-justify-content: center;
    display: -ms-flex;
    -ms-justify-content: center;
    display: flex;
    justify-content: center;

    color: #fff;
    font-size: 60pt;
}

.description {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 1.5;
    color: #fff;
}

.arrow {
    width: 32px;
    height: 32px;
    background: url(../img/home/Strelka.png) no-repeat;
    position: absolute;
    bottom: 6%;
    left: 50%;
}

/*about*/

.about-container {
    height: 100%;
    display: -webkit-flex;

    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;

    display: -moz-flex;
    -moz-flex-direction: center;
    -moz-justify-content: center;
    -moz-align-items: center;

    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-justify-content: center;
    -ms-align-items: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-container p {
    margin: 0;
    max-width: 970px;
    color: #fff;
    text-align: center;
}

.about-subtitle {
    padding-bottom: 40px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
}

.about-title {
    padding-bottom: 40px;
    font-size: 64px;
    line-height: 1.23;
    font-weight: 600;
}

.about-text {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
}

/* benefits */

.benefits-container {
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;

    display: -moz-flex;
    -moz-flex-direction: center;
    -moz-justify-content: center;
    -moz-align-items: center;

    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-justify-content: center;
    -ms-align-items: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.benefits-content {

}

.benefits-content p {
    max-width: 470px;
    text-align: center;
    margin: auto;
    color: #fff;
}

.benefits-title {
    font-size: 52px;
    line-height: 1.23;
    font-weight: 600;
}

.benefits-text {
    padding: 26px 0 80px 0;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
}

.benefits-table {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.benefits-table-item {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-table-item:last-child {
    padding-right: 0;
}

.benefits-table-item p {
    text-align: center;
}

.benefits-table img {
    width: 100px;
    height: 100px;
}

.benefits-table-title {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 600;
}

.benefits-table-text {
    max-width: 360px;
    margin-top: 18px;
    font-size: 14px;
    line-height: 1.55;
}

/* how it works */

.how-container {
    height: 100%;
}

.how-title p {
    font-size: 42px;
    line-height: 1.23;
    text-align: center;
    padding: 40px 0 70px 0;
}

.height-half {
    height: 50% !important;
}

.bottom-half {
    bottom: 50% !important;
}

.padding-right {
    padding-right: 74px;
}

.padding-left {
    padding-left: 74px;
}

.how-table {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 752px;
    margin: auto;
}

.how-table img {
    width: 100px;
    height: 100px;
}

.how-table-item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.how-table-item p {
    text-align: center;
}

.wrapper-line {
    height: 100%;
    display: flex;
    width: 2px;
    background: #fff;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper-circle {
    width: 30px;
    height: 30px;
    margin: auto;
    background-color: #fff;
    border-radius: 100%;
    border: 2px solid black;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper-number {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    font-weight: 600;
}

.flex-start {
    align-items: flex-start;
}

.flex-end {
    align-items: flex-end;
}

.how-flex-item {
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-table-title {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 600;
}

.how-table-text {
    max-width: 325px;
    margin-top: 18px;
    font-size: 13px;
    line-height: 1.55;
}

/* options */

.options-container {
    height: 100%;
    background-color: #f0f0f0;

    height: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;

    display: -moz-flex;
    -moz-flex-direction: center;
    -moz-justify-content: center;
    -moz-align-items: center;

    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-justify-content: center;
    -ms-align-items: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.options-content {
    padding: 60px;
}

.options-content p {
    text-align: center;
    margin: auto;
    color: #000;
}

.options-title {
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
}

.options-text {
    font-size: 24px;
    line-height: 1.5;
    padding-top: 44px;
    max-width: 635px;
    font-weight: 300;
}

.options-price-text {
    padding-top: 22px;
    text-align: center;
    margin: auto;
    max-width: 300px;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 300;
}

.price {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.price p {
    color: #000;
}

.options-substrate {
    margin-bottom: 30px;
    width: 47%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #ffffff;
    border-color: #e6e6e6;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
}

.options-cost {
    font-size: 30px;
    line-height: 1.17;
    font-weight: 600;
    color: #000;

}

.options-button {
    cursor: pointer;
    margin-top: 30px;
    width: 121px;
    height: 45px;
    color: #ffffff;
    background-color: #13ce66;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;

}

.options-button:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}

.options-button p {
    color: #fff;
    text-align: center;
    line-height: 3;
    font-size: 15px;
    font-weight: 700;
}

/* partners */

.partners-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;

    display: -moz-flex;
    -moz-flex-direction: center;
    -moz-justify-content: center;
    -moz-align-items: center;

    display: -ms-flex;
    -ms-flex-direction: column;
    -ms-justify-content: center;
    -ms-align-items: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    height: 100%;
    background-color: #fff;

}

.partners-content {

    padding: 0px 30px 80px 30px;
}

.partners-content p {
    text-align: center;
    margin: auto;
    color: #000;
}

.partners-title {
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
}

.partners-text {
    font-size: 24px;
    line-height: 1.5;
    padding-top: 44px;
    max-width: 575px;
    font-weight: 300;
}

#myCarousel1 {
    width: 100%;
}

.partners-container img {
    opacity: 0;
}

.partners-container .active {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
}

.partners-container .active img {
    opacity: 1;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.item-img {
    width: 12%;
    padding: 10px;
}

/* contacts */

.contacts-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.contacts-map {

    width: 50%;
    height: 100%;
}

.contacts {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-info {
    width: 65%;
}

.contacts-title {
    font-size: 28px;
    line-height: 1.17;
    padding-bottom: 45px;
    font-weight: 600;
}

.contacts-data {
    font-size: 24px;
    line-height: 1.55;
    font-weight: 300;
}

.contacts-address {
    padding-top: 32px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 100;
    padding-bottom: 30px;
}

.contacts-social {
    padding-top: 25px;
}

.contacts-social a {
    padding-right: 2px;
}

/* news */

.news-container {
    height: 100%;
}

.news-container img {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

/* slider */
.scroll-bar {
    display: none;
    z-index: 999;
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.scroll-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
}

.scroll-bar ul li {
    padding: 12px 0;
}

.scroll-bar a {
    position: relative;
    display: table;
    color: #fff;
    text-decoration: none;

}

.popover {
    position: absolute;
    top: 50%;
    right: 40px;
    background: #292929;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    transform: translateX(-20%) translateY(-50%);
    margin-bottom: 10px;
    padding: 8px 18px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s ease-in-out opacity, .3s ease transform, .3s ease visibility;
    transition: .3s ease-in-out opacity, .3s ease transform, .3s ease visibility;
}

.popover:after {
    content: '';
    position: absolute;
    top: 20%;
    right: -20px;
    border: 10px solid transparent;
    border-left: 10px solid #292929;
}

ul a:hover .popover {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%) translateY(-50%)
}

.scroll-bar-active {
    background: #dbdbdb !important;
}

.circle {
    display: block;
    border: 2px solid #dbdbdb;
    width: 15px;
    height: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: .3s ease-in-out all;
}




